$lighten-amount: 10%;
$darken-amount: 10%;

@function b-lighten($color) {
    @return lighten($color, $lighten-amount);
}

@function b-darken($color) {
    @return darken($color, $darken-amount);
}

$b-color-bot: #2CC3D5;
$b-color-light-blip: #0CC8CC;
$b-color-dark-blip: #15AFB2;

$b-color-warning: #F76556;

$b-color-delete: #FB7A6D;
$b-color-delete-darken: b-darken($b-color-delete);

$b-color-true: #4DCB7B;
$b-color-true-darken: b-darken($b-color-true);

$b-color-city: #52636C;
$b-color-city-darken: b-darken($b-color-city);
$b-color-city-lighten: b-lighten($b-color-city);

$b-color-cloud: #8CA0B3;
$b-color-silver: #94A3AB;
$b-color-time: #A8BFC4;
$b-color-breeze: #C9DFE4;
$b-color-sky: #DAF2F4;

$b-color-background: linear-gradient(180deg, #F9FBFC 0%, #ECF1F3 100%);

//3rd parties
$b-color-facebook: #3C5A99;
$b-color-facebook-darken: b-darken($color-facebook);

