$lighten-amount: 10%;
$darken-amount: 10%;

@function b-lighten($color) {
  @return lighten($color, $lighten-amount);
}

@function b-darken($color) {
  @return darken($color, $darken-amount);
}

$b-color-bot: #2cc3d5;
$b-color-light-blip: #0cc8cc;
$b-color-dark-blip: #15afb2;

$b-color-warning: #f76556;
$b-color-delete: #fb7a6d;

$b-color-true: #4dcb7b;

$b-color-city: #52636c;
$b-color-rooftop: #738192;
$b-color-desk: #607B99;
$b-color-cloud: #8ca0b3;
$b-color-silver: #94a3ab;
$b-color-time: #a8bfc4;
$b-color-breeze: #c9dfe4;
$b-color-sky: #daf2f4;

$b-color-white: #ffffff;
$b-color-black: #000000;

$b-color-gradient: linear-gradient(180deg, #f9fbfc 0%, #ecf1f3 100%);

//3rd parties
$b-color-facebook: #3c5a99;
