.bp-badge {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  border-radius: 1em;
  padding: 0 0.5em;

  min-width: 1.7em;
  min-height: 1.7em;
  line-height: 1.7em;

  &:not([class*="bp-bg-"]) {
    background-color: $bp-color-blip-light;
  }

  &:not([class*="bp-c-"]) {
    color: $bp-color-white;
  }

  &.bp-badge--no-text {
    min-width: auto;
    min-height: auto;
    width: 1em;
    height: 1em;
    line-height: 0;
    padding: 0;
  }
}
