.bp-carousel {
  display: flex;
  width: 100%;
  align-items: center;
  button {
    all: unset;
    border: none;
    cursor: pointer;
    overflow: visible;
    background-color: transparent !important;
    &:disabled {
      opacity: 0.5;
      background-color: transparent !important;
      cursor: not-allowed;
      svg{
        cursor: not-allowed !important;
      }
    }
    &:focus{
      outline: none;
    }
    svg {
      width: 30px;
      fill: $bp-color-breeze;
    }
  }
  .bp-carousel-container {
    padding: 0 20px;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    .bp-carousel-item {
      flex-shrink: 0;
    }
  }
}
