.bp-carousel {
  display: flex;
  width: 100%;
  align-items: center;
  button {
    all: unset;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
    }
    svg {
      width: 30px;
      fill: $bp-color-breeze;
    }
  }
  .bp-carousel-container {
    padding: 0 5px;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    .bp-carousel-item {
      flex-shrink: 0;
    }
  }
}
