$icon-size: 1.7*$m;

.blip-datepicker {
  display: inline-block;

  input {
		border: none;
		cursor: pointer;

		&::-webkit-clear-button, &::-webkit-inner-spin-button {
    	display: none;
    	-webkit-appearance: none;
		}

		&:focus {
			outline: none;
		}

		&:disabled {
			cursor: default;
			background-color: transparent;
		}
	}

  .month-table {
    border-collapse: collapse;

    th {
      border-bottom: $u solid $bp-color-white;
      height: 2*$m;

      .month-title, .year-input {
        text-transform: uppercase;
        font-size: $bp-fs-7;
        color: $bp-color-bot;
      }

      .month-title {
        font-weight: 900;
        cursor: pointer;
      }

      .year-input {
        font-weight: 600;
        max-width: 3*$m;
        margin-left: $m;

        &:focus {
          border-bottom: 1px solid $bp-color-bot;
        }
      }

      .month-button {
        border: none;
        border-radius: 50%;
        color: $bp-color-white;
        font-weight: 800;
        font-size: $bp-fs-8;
        cursor: pointer;
        padding: 0.5*$u $u;
        background-color: $bp-color-breeze;

        &:focus {
          outline: none;
        }
      }
    }

    .weekday-week {
      border-top: 1.5*$m solid $bp-color-white;
    }

    .month-week, .next-month-week {
      border-top: 0.5*$m solid $bp-color-white;
    }

    .next-month-week {
      visibility: hidden;
    }

    .week-day, .month-day {
      font-size: $bp-fs-8;
      text-align: center;
      vertical-align: middle;
      cursor: default;
      width: 2*$m;
      height: $m;
      padding: 0;
    }

    .week-day {
      color: $bp-color-suit;
    }

    .month-day {
      color: $bp-color-desk;

      &.last-month, &.next-month, &.invalid-day {
        color: $bp-color-time;
      }

      &.in-range {
        background-color: $bp-color-sky;
      }

      &.range-limit div, &.current-month:not(.invalid-day):hover div {
        color: $bp-color-white;
        background-color: $bp-color-bot;
      }

      &:not(.in-range) ~ .range-limit {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }

      &.in-range ~ .range-limit {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }

      div {
        padding: $u 1.2*$u;
        border-radius: 8px;
      }
    }
  }

  hr {
    margin: $m 0;
    border: 1px solid $bp-color-wave;
  }

  .time-container {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $bp-color-city;
		font-size: $bp-fs-8;
    background-color: $bp-color-whisper;
    padding: $u 0;
    border-radius: 8px;

		.time-input-container {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			border-radius: 8px;
      border: 1px solid $bp-color-wave;
			height: 3*$m;
			width: 6.6*$m;
      background-color: $bp-color-white;
			background-size: $m;
      margin-left: 1.5*$m;

      .clock-icon {
        min-width: $icon-size;
        max-width: $icon-size;
        min-height: $icon-size;
        max-height: $icon-size;
        padding: 0.2*$m;
        background-color: $bp-color-sky;
        border-radius: 5px;

        svg path {
          fill: $bp-color-bot;
        }
      }
      
      input {
        font-size: $bp-fs-7;
      }
		}
  }
  
  .date-selector {
		text-transform: uppercase;
		font-size: $bp-fs-7;
		color: $bp-color-desk;
		background-color: $bp-color-white;
		padding: $m 1.5*$m 3*$m;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		> div {
			display: flex;
			justify-content: space-between;

			label {
				cursor: pointer;
				width: 5*$m;
        text-align: center;
        margin: 0 $u;

				div {
					border-radius: 4px;
					padding: 0.5*$m 0;
				}

				input[type="radio"]:checked ~ div, div:hover {
					background-color: $bp-color-bot;
					color: $bp-color-white;
				}
			}
		}
	}
}
