.bp-input-wrapper {
   width: 31.6*$m;
   min-height: 4.8*$m;
   border: 0.1*$m solid $bp-color-breeze;
   border-radius: 0.4*$m;
   padding: 0.5*$m 1.0*$m;
}

.bp-input-wrapper--disabled {
   background-color: $bp-color-offwhite;
   border-color: $bp-color-breeze;
}

.bp-input-wrapper--focus {
   box-shadow: 0 0.2*$m 1.2*$m 0 rgba(0, 0, 0, 0.1);
   border-color: $bp-color-blip-light;
   transition: box-shadow .5s ease-in;
}

.bp-input-wrapper--invalid {
   border-color: $bp-color-delete;
}

.bp-input-wrapper--valid {
   border-color: $bp-color-true;
}
