.blip-select {
  @include flex-box;
  flex-wrap: wrap;

  &:hover {
    border: 1px solid $bp-color-bot;
  }

  &.bp-input-wrapper--focus {
    box-shadow: 0 0 0 3px $bp-color-blip-light;
    transition: none;
  }

  &.bp-input-wrapper {
    background-color: $bp-color-white;
    cursor: pointer;

    &.large {
      height: 68px;
    }
  }

  &.bp-select-wrapper--invalid {
    border-color: $bp-color-warning;
    box-shadow: 0px 0px 1px 2px $bp-color-delete;

    label {
      color: $bp-color-delete;
    }

    &.bp-input-wrapper--focus {
      label {
        color: $bp-color-delete;
      }
    }
  }

  &.bp-select-wrapper--disabled {
    background-color: $bp-color-offwhite;
    border-color: $bp-color-breeze;
  }

  .blip-select__shell {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    .blip-select__content {
      width: 100%;
      text-align: justify;

      .bp-label {
        width: calc(100% - 20px);
      }
    }
  }

  .bp-select-hide-label {
    height: 0;
  }

  .bp-select-placeholder-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-left: 6px;
    height: 36px;
    min-width: 36px;
    width: 36px;
    border-radius: 100%;

    img,
    svg {
      height: 100%;
      width: 100%;
      border-radius: 100%;
    }
  }

  .hide {
    display: none;
  }

  &.open {
    .blip-select__arrow-down {
      transform: rotate(180deg);
    }
  }
}

.blip-select__input {
  @include placeholder($bp-color-cloud);
  cursor: pointer;
  display: block;
  border: 0;
  background-color: transparent;
  outline: none;
  width: calc(100% - 20px);
  height: 1.9 * $m;
  margin-top: 0.2 * $m;
  padding-right: 20px;
  font-family: $bp-ff;
  font-size: $bp-fs-6;
  align-self: center;
  position: relative;
  z-index: 1;
  box-sizing: initial;

  &:focus {
    outline: none;
  }
}

.blip-select__arrow-down {
  position: absolute;
  right: 10px;
  visibility: hidden;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;

  &.blip-select__show-arrow {
    visibility: visible;
  }
}

.blip-select__options {
  background: #fff;
  position: absolute;
  top: 108%;
  left: 0;
  width: 100%;
  border: 0.1 * $m solid $bp-color-breeze;
  border-radius: 0.8 * $m;
  box-shadow: 0 0.2 * $m 1.2 * $m 0 rgba(0, 0, 0, 0.1);
  transform-origin: top left;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.25s, opacity 0.75s, visibility 0.75s;
  z-index: 2;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 52px * 6;
    overflow-y: auto;

    @include scrollbar($bp-color-time);
  }
}

.blip-select__options--open-top {
  top: initial;
  bottom: 100%;
}

.blip-select__content-option {
  display: flex;
  flex-direction: column;

  .blip-select__content-option-label {
    font-weight: bold;
  }
}

.blip-select__option {
  padding: 0.8 * $m 1.7 * $m;
  color: $bp-color-city;
  margin-bottom: 0;
  cursor: pointer;
  word-break: break-word;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;

  &:hover,
  &:focus {
    background: $bp-color-whisper;
    outline: 0;

    .blip-select__option__label:not(:only-child) {
      color: $bp-color-bot;
    }
  }

  &.blip-select__empty-option {
    cursor: default;
    justify-content: center;
    padding: 25px 0;
  }

  .blip-select__option__label:not(:only-child) {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }

  .blip-select__option__description {
    margin-left: auto;
    flex-shrink: 0;
    font-size: $bp-fs-7;
    color: $bp-color-rooftop;
    line-height: 100%;
  }
}

.blip-select__add-option {
  background: $bp-color-bot;
  border: 0;
  color: #fff;
  padding: 10px 0;
  justify-content: center;
  bottom: 0;
  border-radius: 0 0 0.8 * $m 0.8 * $m;

  &:hover,
  &:focus {
    background: $bp-color-blip-dark;
    outline: 0;
  }

  small {
    margin-right: 0.5 * $m;
    color: #fff;
  }

  div.blip-new-option-text {
    margin-top: -0.3 * $m;
  }
}

.blip-select__option--selected {
  background: $bp-color-whisper;

  .blip-select__option__label:not(:only-child) {
    color: $bp-color-bot;
  }
}

.blip-select__option--description-bottom {
  flex-wrap: wrap;

  .blip-select__option__description {
    margin-left: 0;
    font-size: $bp-fs-8;
  }
}

.blip-select__option--with-icon {
  display: flex;
  align-items: center;

  .blip-select__option__icon {
    line-height: 0;
    height: 36px;
    width: 36px;
    border-radius: 100%;

    img,
    svg {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  .blip-select__option__content {
    margin-left: 10px;

    span {
      display: block;
    }
  }
}
