.bp-table {
  display: table;
  table-layout: fixed;

  color: $bp-table-color;

  border: 0;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    background-color: $bp-table_head-bg-color;
    border-bottom: 0.2*$m solid $bp-table_head-border-color;

    font-size: $bp-table_head-font-size;
    line-height: $bp-table_head-line-height;
    font-weight: $bp-table_head-font-weight;

    th {
      padding: $bp-table_th-padding;

      white-space: normal;
      word-break: keep-all;
      text-align: left;

      &:first-of-type {
        padding-left: $bp-table_edge-padding;
      }

      &:last-of-type {
        padding-right: $bp-table_edge-padding;
      }
    }
  }

  tbody {
    background-color: $bp-table_body-bg-color;

    font-size: $bp-table_body-font-size;
    line-height: $bp-table_body-line-height;
    font-weight: $bp-table_body-font-weight;

    white-space: nowrap;
    text-align: left;

    td {
      padding: $bp-table_td-padding;

      &:first-of-type {
        padding-left: $bp-table_edge-padding;
      }

      &:last-of-type {
        padding-right: $bp-table_edge-padding;
      }
    }
  }

  tbody {
    tr:nth-child(odd) {
      background-color: $bp-color-white;
    }

    tr:nth-child(even) {
      background-color: $bp-color-whisper;
    }

  }
}
