.blip-tags {
  border: 1px solid $bp-color-breeze;
  border-radius: 3px;
  padding: 0 5px;
  flex-wrap: wrap;
  @include flex-box;

  &:focus {
    border-color: $bp-color-blip-light;
  }

  .blip-select {
    min-width: 200px;
    display: inline-flex;
    flex: 2 0;
  }

  .bp-input-wrapper {
    height: 3.7*$m;
    border: 0;
    padding: 0;
    margin-top: 3px;
  }

  .bp-input-wrapper--focus {
    box-shadow: none;
  }

  .blip-select__options {
    border: 0;
  }
}

.blip-select__add-option {
  background: $bp-color-blip-light;
  border: 0;
  color: #fff;

  &:hover,
  &:focus {
    background: $bp-color-blip-light;
    outline: 0;
  }
}

.blip-tags-list {
  display: inline-block;
}

.blip-tag-container {
  .blip-tag { margin-right: 5px; }
}

.blip-tags-list {
  display: inline-block;
}
