.blip-tag-container {
  position: relative;
  display: inline-block;
  outline: 0;
}

.blip-tag-select-color {
  background: #fff;
  box-shadow: 0 1px 12px 0 rgba(173, 182, 185, 0.29);
  padding: 10px;
  width: 125px;
  position: absolute;
  top: 105%;

  &:before {
    content: " ";
    position: absolute;
    left: 20px;
    top: -16px;
    width: 0; height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #fff;
  }
}

.blip-tag {
  display: inline-block;
  padding: 4px 15px;
  border-radius: 20px;
  background: $bp-color-bot;

  &:focus {
    background: $bp-color-rooftop !important; // Tags background is set inline, so !important is necessary
    outline: 0;
  }
}

.blip-tag--on-list {
  margin: 6px 0;
}

.blip-tag__remove {
  display: inline-block;
  background: transparent;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.blip-tag-select-color {
  list-style: none;
  padding: 16px;
  transform-origin: 0 0;
  transition: 300ms;
  line-height: 1;
  border-radius: 3px;

  &:focus {
    outline: 0;
  }
}

.blip-tag-color-option {
  width: 24px; height: 24px;
  margin: 2px;
  cursor: pointer;
  display: inline-block;
}
