@mixin button() {
  -webkit-appearance: button;
  -moz-appearance: button;
}

@mixin bp-btn--regular ($color, $bg-color) {
  color: $color;
  background-color: $bg-color;

  &:hover {
    background-color: bp-darken($bg-color);
  }
}

@mixin bp-btn--flat ($color, $border-color) {
  &.bp-btn--flat {
    color: $color;
    background-color: transparent;
    border-color: $border-color;

    &:hover,
    &:disabled {
      background-color: transparent;
      border-color: bp-darken($border-color);
      color: bp-darken($color);
    }
  }
}

@mixin bp-btn--c ($color) {
  color: $color;

  &.bp-btn--flat {
    color: bp-darken($color);
  }
}

@mixin bp-btn--bg ($bg-color) {
  background-color: $bg-color;

  &:hover {
    background-color: bp-darken($bg-color);
  }
}


