@mixin scrollbar($color) {
  scrollbar-color: $color transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $bp-scrollbar-size;
    height: $bp-scrollbar-size;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 1000px;
  }
}
