@mixin bp-use($color) {
  .bp-use {
    use {
      fill: $color;
    }
  }
}

@mixin bp-use--hover($color) {
  .bp-use--hover:hover {
    use {
      fill: $color;
    }
  }
}

@mixin bp-use--active($color) {
  .bp-use--active:active {
    use {
      fill: $color;
    }
  }
}
