@mixin z-depth-1 {
    @include box-shadow(0 2px 12px 0 #E1E7EE);
    z-index: 1;
}
@mixin z-depth-2 {
    @include box-shadow(0 2px 16px #c6d1de);
    z-index: 2;
}
@mixin z-depth-3 {
    @include box-shadow(0 2px 16px #c6d1de);
    z-index: 3;
}
@mixin z-depth-4 {
    @include box-shadow(0 2px 16px #c6d1de);
    z-index: 4;
}
@mixin z-depth-5 {
    @include box-shadow(0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22));
    z-index: 5;
}
