//Background Color
.bp-bg-bot {
  background-color: $bp-color-bot;
}

.bp-bg-blip-light {
  background-color: $bp-color-blip-light;
}

.bp-bg-blip-dark {
  background-color: $bp-color-blip-dark;
}

.bp-bg-warning {
  background-color: $bp-color-warning;
}

.bp-bg-warning-light {
  background-color: $bp-color-warning-light;
}

.bp-bg-warning-yellow {
  background-color: $bp-color-warning-yellow;
}

.bp-bg-delete {
  background-color: $bp-color-delete;
}

.bp-bg-delete-darken {
  background-color: b-darken($bp-color-delete);
}

.bp-bg-true {
  background-color: $bp-color-true;
}
.bp-bg-true-darken {
  background-color: b-darken($bp-color-true);
}

.bp-bg-onix {
  background-color: $bp-color-onix;
}

.bp-bg-suit {
  background-color: $bp-color-suit;
}

.bp-bg-city {
  background-color: $bp-color-city;
}
.bp-bg-city-darken {
  background-color: b-darken($bp-color-city);
}
.bp-bg-city-lighten {
  background-color: b-lighten($bp-color-city);
}

.bp-bg-rooftop {
  background-color: $bp-color-rooftop;
}
.bp-bg-desk {
  background-color: $bp-color-desk;
}
.bp-bg-cloud {
  background-color: $bp-color-cloud;
}
.bp-bg-silver {
  background-color: $bp-color-silver;
}
.bp-bg-time {
  background-color: $bp-color-time;
}
.bp-bg-breeze {
  background-color: $bp-color-breeze;
}
.bp-bg-sky {
  background-color: $bp-color-sky;
}
.bp-bg-offwhite {
  background-color: $bp-color-offwhite;
}

.bp-bg-white {
  background-color: $bp-color-white;
}

.bp-bg-black {
  background-color: $bp-color-black;
}

.bp-grad-shine {
  background-image: $bp-gradient-shine;
}

.bp-grad-bot {
  background-image: $bp-gradient-bot;
}

.bp-grad-blip {
  background-image: $bp-gradient-blip;
}

.bp-grad-suit {
  background-image: $bp-gradient-suit;
}

