/**
* BLiP Toolkit
* Text Color Classes
*/

.bp-c-bot {
  color: $bp-color-bot;
}

.bp-c-blip-light {
  color: $bp-color-blip-light;
}

.bp-c-blip-dark {
  color: $bp-color-blip-dark;
}

.bp-c-warning {
  color: $bp-color-warning;
}

.bp-c-warning-light {
  color: $bp-color-warning-light;
}

.bp-c-warning-yellow {
  color: $bp-color-warning-yellow;
}

.bp-c-delete {
  color: $bp-color-delete;
}

.bp-c-delete-dark {
  color: bp-darken($bp-color-delete);
}

.bp-c-true {
  color: $bp-color-true;
}

.bp-c-true-dark {
  color: bp-darken($bp-color-true);
}

.bp-c-piano {
  color: $bp-color-piano;
}

.bp-c-console {
  color: $bp-color-console;
}

.bp-c-obsidian {
  color: $bp-color-obsidian;
}

.bp-c-onix {
  color: $bp-color-onix;
}

.bp-c-suit {
  color: $bp-color-suit;
}

.bp-c-city {
  color: $bp-color-city;
}

.bp-c-city-dark {
  color: bp-darken($bp-color-city);
}

.bp-c-city-light {
  color: bp-lighten($bp-color-city);
}

.bp-c-rooftop {
  color: $bp-color-rooftop;
}

.bp-c-desk {
  color: $bp-color-desk;
}

.bp-c-cloud {
  color: $bp-color-cloud;
}

.bp-c-silver {
  color: $bp-color-silver;
}

.bp-c-time {
  color: $bp-color-time;
}

.bp-c-breeze {
  color: $bp-color-breeze;
}

.bp-c-sky {
  color: $bp-color-sky;
}

.bp-c-offwhite {
  color: $bp-color-offwhite;
}

.bp-c-whisper {
  color: $bp-color-whisper;
}

.bp-c-white {
  color: $bp-color-white;
}

.bp-c-black {
  color: $bp-color-black;
}

.bp-c-transparent {
  color: transparent;
}
