/*
  BLiP Toolkit

  Font Size Classes

*/

.bp-fs-1 {
  font-size: $bp-fs-1;
}

.bp-fs-2 {
  font-size: $bp-fs-2;
}

.bp-fs-3 {
  font-size: $bp-fs-3;
}

.bp-fs-4 {
  font-size: $bp-fs-4;
}

.bp-fs-5 {
  font-size: $bp-fs-5;
}

.bp-fs-6 {
  font-size: $bp-fs-6;
}

.bp-fs-7 {
  font-size: $bp-fs-7;
}

.bp-fs-8 {
  font-size: $bp-fs-8;
}
