//Background Gradients
.bp-grad-shine {
  background-image: $bp-gradient-shine;
}
.bp-grad-bot {
  background-image: $bp-gradient-bot;
}
.bp-grad-blip {
  background-image: $bp-gradient-blip;
}
.bp-grad-suit {
  background-image: $bp-gradient-suit;
}
.bp-grad-suit-bottom-up {
  background-image: $bp-gradient-suit-bottom-up;
}
.bp-grad-suit-top-down {
  background-image: $bp-gradient-suit-top-down;
}
.bp-grad-business {
  background-image: $bp-gradient-business;
}
.bp-grad-enterprise {
  background-image: $bp-gradient-enterprise;
}
