@font-face {
  font-family: 'Nunito';
  src: url('fonts/subset-Nunito-Regular.woff2') format('woff2'),
      url('fonts/subset-Nunito-Regular.woff') format('woff'),
      url('fonts/subset-Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('fonts/subset-Nunito-Italic.woff2') format('woff2'),
      url('fonts/subset-Nunito-Italic.woff') format('woff'),
      url('fonts/subset-Nunito-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('fonts/subset-Nunito-SemiBold.woff2') format('woff2'),
      url('fonts/subset-Nunito-SemiBold.woff') format('woff'),
      url('fonts/subset-Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('fonts/subset-Nunito-SemiBoldItalic.woff2') format('woff2'),
      url('fonts/subset-Nunito-SemiBoldItalic.woff') format('woff'),
      url('fonts/subset-Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('fonts/subset-Nunito-Bold.woff2') format('woff2'),
      url('fonts/subset-Nunito-Bold.woff') format('woff'),
      url('fonts/subset-Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('fonts/subset-Nunito-BoldItalic.woff2') format('woff2'),
      url('fonts/subset-Nunito-BoldItalic.woff') format('woff'),
      url('fonts/subset-Nunito-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
