.bp-button {
  display: inline-block;

  -webkit-appearance: button;
  -moz-appearance: button;

  cursor: pointer;
  min-width: 16rem;
  height: 4.2rem;
  line-height: 3.8rem;

  margin: 0;
  padding: 0 2rem;

  border: none;
  border-radius: 0.3rem;

  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;

  > * {
    vertical-align: middle;
  }

  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  outline: none;

  &:active,
  &:focus,
  &:visited,
  &:hover {
    outline: none;
    text-decoration: none;
  }

  &:disabled {
    cursor: default;
    background-color: $bp-color-breeze;
    color: $bp-color-white;
    border: none;
  }
}

.bp-button {
  &:not(:disabled) {

    &.bp-bg-bot:hover {
      background-color: bp-darken($bp-color-bot);
    }

    &.bp-bg-light-blip:hover {
      background-color: bp-darken($bp-color-light-blip);
    }

    &.bp-bg-dark-blip:hover {
      background-color: bp-darken($bp-color-dark-blip);
    }

    &.bp-bg-true:hover {
      background-color: bp-darken($bp-color-true);
    }

    &.bp-bg-delete:hover {
      background-color: bp-darken($bp-color-delete);
    }

    &.bp-bg-warning:hover {
      background-color: bp-darken($bp-color-warning);
    }
  }
}
