.color-info {
  display: inline-block;
  width: 12rem;
  margin: 3rem 1.5rem 0rem;
  padding: 0;

  .color-card {
    display: block;
    width: 12rem;
    height: 10rem;

    i {
      position: relative;
      top: 1rem;
      margin-left: 1rem;
      font-size: 1.2rem;
      color: $b-color-black;
    }
  }

  p {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;

    margin-top: 0.2rem;

    width: 100%;
    font-size: 1.4rem;
    text-align: justify;
  }
}
