.color-info, .code-info {
  display: inline-block;
  padding: 0;

  p {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
  
    margin-top: 0.2rem;
  
    width: 100%;
    font-size: 1.4rem;
    text-align: justify;
  }
}

.color-info {
  min-width: 12rem;
  margin: 3rem 1.5rem 0rem;  
}

.color-card {
  display: block;
  width: 12rem;
  height: 10rem;

  i {
    position: relative;
    top: 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: $b-color-black;
  }
}

.code-info {
  min-width: 16rem;
  margin: 3rem 2rem 0rem;
}





