[class^='col-'] {
  margin: 0 1%;
  min-width: 40rem;
  position: relative;
}

.col-1 {
  width: 14.665%;
}

.col-2 {
  width: 31.332%;
}

.col-3 {
  width: 48%;
}

.col-4 {
  width: 64.665%;
}

.col-5 {
  width: 81.332%;
}

.col-6 {
  width: 98%;
}
