//Background Color
.b-bg-bot {
  background-color: $b-color-bot;
}
.b-bg-light-blip {
  background-color: $b-color-light-blip;
}
.b-bg-dark-blip {
  background-color: $b-color-dark-blip;
}

.b-bg-warning {
  background-color: $b-color-warning;
}

.b-bg-delete {
  background-color: $b-color-delete;
}
.b-bg-delete-darken {
  background-color: b-darken($b-color-delete);
}

.b-bg-true {
  background-color: $b-color-true;
}
.b-bg-true-darken {
  background-color: b-darken($b-color-true);
}

.b-bg-city {
  background-color: $b-color-city;
}
.b-bg-city-darken {
  background-color: b-darken($b-color-city);
}
.b-bg-city-lighten {
  background-color: b-lighten($b-color-city);
}


.b-bg-rooftop {
  background-color: $b-color-rooftop;
}
.b-bg-desk {
  background-color: $b-color-desk;
}
.b-bg-cloud {
  background-color: $b-color-cloud;
}
.b-bg-silver {
  background-color: $b-color-silver;
}
.b-bg-time {
  background-color: $b-color-time;
}
.b-bg-breeze {
  background-color: $b-color-breeze;
}
.b-bg-sky {
  background-color: $b-color-sky;
}

.b-bg-white {
  background-color: $b-color-white;
}

.b-bg-black {
  background-color: $b-color-black;
}

.b-bg-gradient {
  background-color: $b-color-gradient;
}

