$regular: 300;
$medium: 400;
$bold: 700;

$base-font-family: "Avenir Next", "Work Sans", "Helvetica", "Arial", sans-serif;
$base-font-weight: $regular;
$base-font-size: 1.6rem;
$regular-font-size: 1.4rem;
$base-letter-spacing: -0.04em;

$small-font-size: 1.28rem;

$serif-font-family: "Merriweather", serif;

$monospace-font-family: "Consolas", monospace;
