@import '../color_variables';

//Border Color
.b-border-bot { border-color: $b-color-bot; }
.b-border-light-blip { border-color: $b-color-light-blip; }
.b-border-dark-blip { border-color: $b-color-dark-blip; }

.b-border-warning { border-color: $b-color-warning; }

.b-border-delete { border-color: $b-color-delete; }
.b-border-delete-darken { border-color: b-darken($b-color-delete); }

.b-border-true { border-color: $b-color-true; }
.b-border-true-darken { border-color: b-darken($b-color-true); }


.b-border-city { border-color: $b-color-city; }
.b-border-city-darken { border-color: b-darken($b-color-city); }
.b-border-city-lighten { border-color: b-lighten($b-color-city); }

.b-border-cloud { border-color: $b-color-cloud; }
.b-border-silver { border-color: $b-color-silver; }
.b-border-time { border-color: $b-color-time; }
.b-border-breeze { border-color: $b-color-breeze; }
.b-border-sky { border-color: $b-color-sky; }