/*
  BLiP Toolkit

  Border Color Classes

*/

.bp-bc-bot {
  border-color: $bp-color-bot;
}
.bp-bc-light-blip {
  border-color: $bp-color-light-blip;
}
.bp-bc-dark-blip {
  border-color: $bp-color-dark-blip;
}

.bp-bc-warning {
  border-color: $bp-color-warning;
}

.bp-bc-delete {
  border-color: $bp-color-delete;
}
.bp-bc-delete-darken {
  border-color: bp-darken($bp-color-delete);
}

.bp-bc-true {
  border-color: $bp-color-true;
}
.bp-bc-true-darken {
  border-color: bp-darken($bp-color-true);
}

.bp-bc-city {
  border-color: $bp-color-city;
}
.bp-bc-city-darken {
  border-color: bp-darken($bp-color-city);
}
.bp-bc-city-lighten {
  border-color: bp-lighten($bp-color-city);
}

.bp-bc-rooftop {
  border-color: $bp-color-rooftop;
}
.bp-bc-desk {
  border-color: $bp-color-desk;
}
.bp-bc-cloud {
  border-color: $bp-color-cloud;
}
.bp-bc-silver {
  border-color: $bp-color-silver;
}
.bp-bc-time {
  border-color: $bp-color-time;
}
.bp-bc-breeze {
  border-color: $bp-color-breeze;
}
.bp-bc-sky {
  border-color: $bp-color-sky;
}
.bp-bc-offwhite {
  border-color: $bp-color-offwhite;
}

.bp-bc-white {
  border-color: $bp-color-white;
}

.bp-bc-black {
  border-color: $bp-color-black;
}
