/*
  BLiP Toolkit

  Text Color Classes

*/

.bp-c-bot {
  color: $bp-color-bot;
}
.bp-c-light-blip {
  color: $bp-color-light-blip;
}
.bp-c-dark-blip {
  color: $bp-color-dark-blip;
}

.bp-c-warning {
  color: $bp-color-warning;
}

.bp-c-delete {
  color: $bp-color-delete;
}
.bp-c-delete-darken {
  color: bp-darken($bp-color-delete);
}

.bp-c-true {
  color: $bp-color-true;
}
.bp-c-true-darken {
  color: bp-darken($bp-color-true);
}

.bp-c-city {
  color: $bp-color-city;
}
.bp-c-city-darken {
  color: bp-darken($bp-color-city);
}
.bp-c-city-lighten {
  color: bp-lighten($bp-color-city);
}

.bp-c-rooftop {
  color: $bp-color-rooftop;
}
.bp-c-desk {
  color: $bp-color-desk;
}
.bp-c-cloud {
  color: $bp-color-cloud;
}
.bp-c-silver {
  color: $bp-color-silver;
}
.bp-c-time {
  color: $bp-color-time;
}
.bp-c-breeze {
  color: $bp-color-breeze;
}
.bp-c-sky {
  color: $bp-color-sky;
}
.bp-c-offwhite {
  color: $bp-color-offwhite;
}

.bp-c-white {
  color: $bp-color-white;
}

.bp-c-black {
  color: $bp-color-black;
}
