/*
  BLiP Toolkit

  Font Size Classes

*/

//4 small fonts (for normal text, minor titles and subtitles)
.bp-font-s1 {
  font-size: $bp-font-small-1;
}

.bp-font-s2 {
  font-size: $bp-font-small-2;
}

.bp-font-s3 {
  font-size: $bp-font-small-3;
}

.bp-font-s4 {
  font-size: $bp-font-small-4;
}

.bp-font-m1 {
  font-size: $bp-font-medium-1;
}

.bp-font-m2 {
  font-size: $bp-font-medium-2;
}

.bp-font-l1 {
  font-size: $bp-font-large-1;
}

.bp-font-l2 {
  font-size: $bp-font-large-2;
}
