/*
  BLiP Toolkit

  Font Variables

*/

/*

  Font family is Nunito. Its fallback is Helvetica

*/

$bp-font-family: 'Nunito', 'Helvetica', sans-serif;

/*

  Font sizes have been converted to rem considering a base size of 16px.
  For more information, check the calculator at https://offroadcode.com/rem-calculator/

*/

$bp-base-font-size: 16px;

//4 small fonts (for normal text, minor titles and subtitles)
$bp-fs-8: 0.625rem; //10px
$bp-fs-7: 0.75rem; //12px
$bp-fs-6: 0.875rem; //14px
$bp-fs-5: 1rem; //16px (base)

//2 medium fonts (for headline text, major titles and subtitles)
$bp-fs-4: 1.25rem; //20px
$bp-fs-3: 1.5rem; //24px

//2 large fonts (for major numbers or things with really high emphasis)
$bp-fs-2: 2rem; //32px
$bp-fs-1: 3rem; //48px


