/*
  BLiP Toolkit
  Color Variables
*/

$lighten-amount: 7%;
$darken-amount: 7%;

@function bp-lighten($color) {
  @return lighten($color, $lighten-amount);
}

@function bp-darken($color) {
  @return darken($color, $darken-amount);
}

//Corporate
$bp-color-bot: #2cc3d5; //main
$bp-color-blip-light: #87DDE8;
$bp-color-blip-dark: #2498A8;

//Semiotic
$bp-color-true: #4DCB7B;
$bp-color-warning-yellow: #ffcf33; //attention
$bp-color-delete: #FF5A60;
$bp-color-warning: #F04847;
$bp-color-disable-dark: #85C6CE;
$bp-color-disable-light: #DAF2F4;


//Substantials
$bp-color-sky: #C3EEF4;
$bp-color-wind: #ADE7EE;
$bp-color-smurf: #55CFFF;
$bp-color-sea: #517BF2;
$bp-color-blue-jeans: #2C2A46;
$bp-color-cheetos: #F9B42F;
$bp-color-doritos:#F99B45;
$bp-color-warning-light: #fbeaea;
$bp-color-watermelon: #F66689;
$bp-color-flower: #FF7B80;

//Neutrals
$bp-color-ghost: #FBFBFB;
$bp-color-whisper: #f5f8f9;
$bp-color-offwhite: #DEE8EC;
$bp-color-breeze: #c9dfe4;
$bp-color-piano: #191919;
$bp-color-elevator: #333333;
$bp-color-console: #1d1d1d;
$bp-color-obsidian: #1a272f;
$bp-color-onix: #242b36;
$bp-color-cloud-burst :#363F4E;
$bp-color-suit: #343C4C;
$bp-color-city: #52636c;
$bp-color-desk: #607b99;
$bp-color-rooftop: #738192;
$bp-color-cloud: #8ca0b3;
$bp-color-silver: #94a3ab;
$bp-color-time: #B9CBD3;
$bp-color-wave: #d2dfe6;
$bp-color-athens-gray: #EDF1F3;

$bp-color-white: #ffffff;
$bp-color-black: #000000;

//Gradients
$bp-gradient-shine: linear-gradient(180deg, $bp-color-whisper 0%, $bp-color-offwhite 50%, $bp-color-wave 100%);
$bp-gradient-bot: linear-gradient(90deg, $bp-color-blip-light 0%, $bp-color-bot 50%, $bp-color-blip-dark 100%); //blip-system
$bp-gradient-blip: linear-gradient(137.45deg, #9EE3FF 0%, $bp-color-smurf 56.17%, #51B2DD 100%);
$bp-gradient-suit: linear-gradient(90deg, $bp-color-suit 0%, $bp-color-onix 50%, $bp-color-console 100%);
$bp-gradient-suit-bottom-up: linear-gradient(180deg, $bp-color-suit 0%, $bp-color-onix 50%, $bp-color-console 100%);
$bp-gradient-suit-top-down: linear-gradient(0deg, $bp-color-suit 0%, $bp-color-onix 50%, $bp-color-console 100%);
$bp-gradient-business: linear-gradient(90deg, #202f3f 0%, #102834 100%);
$bp-gradient-enterprise: linear-gradient(90deg, #2e3237 0%, #1f2018 100%);
$bp-gradient-error: linear-gradient(180deg, $bp-color-delete 0%, $bp-color-warning 50%, #B43635 100%);
$bp-gradient-attention: linear-gradient(180deg, $bp-color-warning-yellow 0%, $bp-color-cheetos 50%, $bp-color-doritos 100%);
$bp-gradient-success: linear-gradient(180deg, #93D2AA 0%, $bp-color-true 50%, #4AA86C 100%);
