/*
  BLiP Toolkit

  All Component Variables

*/

//Buttons
$bp-btn-min-width: 16 * $m;
$bp-btn-height: 4.2 * $m;
$bp-btn-line-height: 3.8 * $m;
$bp-btn-padding: 0 2 * $m;
$bp-btn-border: solid 2px;
$bp-btn-border-radius: 3px;
$bp-btn-font-size: $bp-fs-6;
$bp-btn-font-weight: $bp-fw-extra-bold;
$bp-btn-color: $bp-color-black;
$bp-btn-bg-color: $bp-color-breeze;

//Dropdowns
